NET "clk" LOC= "C9" | IOSTANDARD = LVCMOS33;

NET "rst" LOC= "K17" | IOSTANDARD = LVTTL |PULLDOWN;
NET "sqrt" LOC= "D18" | IOSTANDARD =LVTTL |PULLDOWN;
NET "mul" LOC= "V4" | IOSTANDARD =LVTTL | PULLDOWN;
NET "add" LOC="H13" | IOSTANDARD =LVTTL | PULLDOWN;

NET "sw0" LOC="L13" | IOSTANDARD =LVTTL | PULLDOWN;
NET "sw1" LOC="L14" | IOSTANDARD =LVTTL | PULLDOWN;
NET "sw2" LOC="H18" | IOSTANDARD =LVTTL | PULLDOWN;
NET "sw3" LOC="N17" | IOSTANDARD =LVTTL | PULLDOWN;

NET "out[7]" LOC="F9" | IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[6]" LOC="E9"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[5]" LOC="D11"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[4]" LOC="C11"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[3]" LOC="F11"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[2]" LOC="E11"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[1]" LOC="E12"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8;
NET "out[0]" LOC="F12"| IOSTANDARD =LVTTL | SLEW = SLOW |DRIVE = 8; 